<head>
  <link rel="stylesheet" type="text/css" href="application.css">
</head>

<p>Talk to your coach ! </p>

<div id = "form">
<form action="/answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!" id="btn" >
</form>
</div>