// Place all the styles related to the question controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

#btn {
  background-color: blue;
  border: none;
  color: white;
  text-align:center;
  padding: 20px;
  border-radius: 25%;
}

#form {
  display: flex;
}